<a href="https://colab.research.google.com/github/b0906/Charity-Funding-Predictor/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data.csv

In [7]:
import pandas as pd
import io

application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
print(df)

             EIN                                               NAME  \
0       10520599                       BLUE KNIGHTS MOTORCYCLE CLUB
1       10531628             AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2       10547893                 ST CLOUD PROFESSIONAL FIREFIGHTERS
3       10553066                     SOUTHSIDE ATHLETIC ASSOCIATION
4       10556103           GENETIC RESEARCH INSTITUTE OF THE DESERT
...          ...                                                ...
34294  996009318              THE LIONS CLUB OF HONOLULU KAMEHAMEHA
34295  996010315           INTERNATIONAL ASSOCIATION OF LIONS CLUBS
34296  996012607                                PTA HAWAII CONGRESS
34297  996015768  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...
34298  996086871                           WATERHOUSE CHARITABLE TR

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 12 columns]

In [1]:
#  Import and read the charity_data.csv.
# application_df = pd.read_csv("../Resources/charity_data.csv")
# application_df.head()

In [8]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [9]:
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
dropped_df = application_df.drop(['EIN', 'NAME'], axis = 1)
dropped_df.head(30)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1

In [11]:
# Find null values
for column in dropped_df.columns:
    print(f"Column {column} has {dropped_df[column].isnull().sum()} null values")

Column APPLICATION_TYPE has 0 null values
Column AFFILIATION has 0 null values
Column CLASSIFICATION has 0 null values
Column USE_CASE has 0 null values
Column ORGANIZATION has 0 null values
Column STATUS has 0 null values
Column INCOME_AMT has 0 null values
Column SPECIAL_CONSIDERATIONS has 0 null values
Column ASK_AMT has 0 null values
Column IS_SUCCESSFUL has 0 null values

In [12]:
# Find duplicate entries
print(f"Duplicate entries: {dropped_df.duplicated().sum()}")

Duplicate entries: 24677

In [13]:
# Determine the number of unique values in each column.
dropped_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [14]:
dropped_df.shape

(34299, 10)

In [15]:
dropped_df.describe()

             STATUS       ASK_AMT  IS_SUCCESSFUL
count  34299.000000  3.429900e+04   34299.000000
mean       0.999854  2.769199e+06       0.532406
std        0.012073  8.713045e+07       0.498956
min        0.000000  5.000000e+03       0.000000
25%        1.000000  5.000000e+03       0.000000
50%        1.000000  5.000000e+03       1.000000
75%        1.000000  7.742000e+03       1.000000
max        1.000000  8.597806e+09       1.000000

In [16]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [17]:
# Look at APPLICATION_TYPE value counts for binning
val_counts = dropped_df['APPLICATION_TYPE'].value_counts()
val_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Transform APPLICATION_TYPE
def application_types_to_replace(application_type):
    if application_type == "T3":
        return 1
    else:
        return 0
    
# Along with replace() and map(), this is another way to encode the gender column into numbers.
dropped_df["APPLICATION_TYPE"] = dropped_df["APPLICATION_TYPE"].apply(application_types_to_replace)
dropped_df.head(20)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,0,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,1,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,0,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,1,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,1,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,1,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,1,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,1,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,0,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,0,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,1,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,1,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,1,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,1,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,1,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,1,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,1,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,1,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,1,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,1,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(val_counts [val_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

In [20]:
# Check to make sure binning was successful
dropped_df["APPLICATION_TYPE"].value_counts()

1    27037
0     7262
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Look at CLASSIFICATION value counts for binning
clssification_value_counts = dropped_df['CLASSIFICATION'].value_counts()
clssification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [22]:
# You may find it helpful to look at CLASSIFICATION value counts >1
clssification_value_counts[clssification_value_counts  > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [23]:
clssification_value_counts[clssification_value_counts  > 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [24]:
clssification_value_counts[clssification_value_counts < 1000]

C7000    777
C1700    287
C4000    194
C5000    116
C1270    114
        ...
C4120      1
C8210      1
C2561      1
C4500      1
C2150      1
Name: CLASSIFICATION, Length: 66, dtype: int64

In [25]:
# Determine which values to replace if counts are leass than 10
clssification_to_replace = list(clssification_value_counts[clssification_value_counts > 10].index)

# Replace in dataframe
for cls in clssification_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")

In [26]:
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

Other    34181
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C3200        2
C1234        2
C1256        2
C1246        2
C1267        2
C2190        1
C4200        1
C6100        1
C5200        1
C1370        1
C2600        1
C1900        1
C1820        1
C1248        1
C1236        1
C1283        1
C2570        1
C1580        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(dropped_df)
dummies_df.head(30)

,APPLICATION_TYPE,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,108590,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,6692,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,1,142590,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,1,31452,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,1,7508025,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,0,1,94389,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,1,1,69656,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
11,1,1,165593,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
12,1,1,5000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13,1,1,5301,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,1,1,86380556,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
18,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,1,1,376109,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
20,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,1,1,318296,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
23,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,1,1,5000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,1,1,44004,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
28,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = dummies_df["IS_SUCCESSFUL"].values
                    

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0]) 
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 600

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 651
Trainable params: 651
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6341 - accuracy: 0.6669
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6032 - accuracy: 0.6985
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.7009
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5979 - accuracy: 0.7011
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5966 - accuracy: 0.7021
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5963 - accuracy: 0.7030
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5959 - accuracy: 0.7032
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5955 - accuracy: 0.7033
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5951 - accuracy: 0.7029
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5951 - accuracy: 0.7035
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7039
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5948 - accuracy: 0.7041
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5943 - accuracy: 0.7046
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5941 - accuracy: 0.7047
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5941 - accuracy: 0.7050
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5939 - accuracy: 0.7051
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5938 - accuracy: 0.7050
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7051
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7047
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7055
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7056
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5931 - accuracy: 0.7056
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5934 - accuracy: 0.7057
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5932 - accuracy: 0.7055
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5931 - accuracy: 0.7062
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5931 - accuracy: 0.7058
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5929 - accuracy: 0.7060
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5929 - accuracy: 0.7053
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7053
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7057
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5927 - accuracy: 0.7056
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5927 - accuracy: 0.7057
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5924 - accuracy: 0.7051
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5923 - accuracy: 0.7056
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5926 - accuracy: 0.7050
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5923 - accuracy: 0.7056
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5924 - accuracy: 0.7057
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5923 - accuracy: 0.7049
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5921 - accuracy: 0.7054
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5920 - accuracy: 0.7060
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5921 - accuracy: 0.7060
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5921 - accuracy: 0.7053
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5920 - accuracy: 0.7060
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5922 - accuracy: 0.7063
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7067
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5919 - accuracy: 0.7064
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5918 - accuracy: 0.7060
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5919 - accuracy: 0.7061
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5918 - accuracy: 0.7070
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5919 - accuracy: 0.7063
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.7067
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7058
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7065
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7067
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7065
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.7071
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7063
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7064
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7063
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7075
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7070
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7069
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7066
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7065
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7072
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7062
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5914 - accuracy: 0.7061
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5915 - accuracy: 0.7069
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5913 - accuracy: 0.7071
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7070
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7068
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7070
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7068
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7069
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7068
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7064
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7068
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7068
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7067
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7070
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7071
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7061
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7072
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7065
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7071
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7071
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7074
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7072
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7063
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7071
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7073
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7064
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7069
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7067
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7074
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7071
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7071
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7074
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7074
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7069

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6088 - accuracy: 0.6952 - 312ms/epoch - 1ms/step
Loss: 0.6087744235992432, Accuracy: 0.6951603293418884

In [37]:
# Export our model to HDF5 file
nn.save_weights("AlphabetSoupCharity.h5")

# Optomize the  Model

In [38]:
# Adjust the input data to ensure that no variables or outliers are causing confusion in the model, such as:
# Dropping more or fewer columns: 'EIN', 'NAME', 'USE_CASE','SPECIAL_CONSIDERATIONS'
dropped_df = application_df.drop(['EIN', 'NAME', 'USE_CASE','SPECIAL_CONSIDERATIONS'], axis = 1)
dropped_df.head(30)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,142590,1
5,T3,Independent,C1200,Trust,1,0,5000,1
6,T3,Independent,C1000,Trust,1,100000-499999,31452,1
7,T3,Independent,C2000,Trust,1,10M-50M,7508025,1
8,T7,Independent,C1000,Trust,1,1-9999,94389,1
9,T5,CompanySponsored,C3000,Association,1,0,5000,0
10,T3,Independent,C1200,Trust,1,25000-99999,69656,0
11,T3,Independent,C2000,Trust,1,100000-499999,165593,0
12,T3,CompanySponsored,C1200,Association,1,0,5000,1
13,T3,Independent,C2700,Trust,1,25000-99999,5301,1
14,T3,Independent,C1000,Trust,1,0,5000,1
15,T3,Independent,C1200,Trust,1,0,5000,1
16,T3,Independent,C2000,Trust,1,0,5000,1
17,T3,Independent,C1000,Trust,1,50M+,86380556,0
18,T3,CompanySponsored,C1000,Trust,1,0,5000,0
19,T3,CompanySponsored,C1000,Trust,1,100000-499999,376109,0
20,T4,Independent,C3000,Trust,1,0,5000,1
21,T3,Independent,C1200,Trust,1,0,5000,1
22,T3,Independent,C7000,Trust,1,100000-499999,318296,0
23,T4,CompanySponsored,C3000,Association,1,0,5000,0
24,T3,CompanySponsored,C1200,Trust,1,0,5000,0
25,T4,Independent,C3000,Trust,1,0,5000,1
26,T3,CompanySponsored,C1000,Trust,1,0,5000,1
27,T3,CompanySponsored,C2000,Trust,1,25000-99999,44004,1
28,T3,CompanySponsored,C2000,Trust,1,0,5000,0
29,T6,Independent,C2000,Trust,1,0,5000,1

In [39]:
# Look at APPLICATION_TYPE value counts for binning
val_counts = dropped_df['APPLICATION_TYPE'].value_counts()
val_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Creating more bins for rare occurrences in columns: Determine which values to replace if counts are less than 10
# Increasing or decreasing the number of values for each bin.
application_types_to_replace = list(val_counts [val_counts > 10].index)


# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(cls,"Other")

In [41]:
dropped_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
clssification_value_counts = dropped_df['CLASSIFICATION'].value_counts()
clssification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
clssification_value_counts[clssification_value_counts  > 100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [44]:
# Determine which values to replace if counts are less than 1000
clssification_to_replace = list(clssification_value_counts [clssification_value_counts > 100].index)

# Replace in dataframe
for cls in clssification_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")

In [45]:
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

Other    33630
C2800       95
C7100       75
C1300       58
C1280       50
         ...
C4120        1
C2561        1
C1245        1
C8210        1
C2150        1
Name: CLASSIFICATION, Length: 61, dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(dropped_df)
dummies_df.head(30)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6,1,31452,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
7,1,7508025,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,1,69656,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
11,1,165593,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
12,1,5000,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
13,1,5301,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
15,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
16,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
17,1,86380556,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
18,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
19,1,376109,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
20,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
21,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
22,1,318296,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
23,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
25,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
26,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
27,1,44004,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
28,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
29,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [47]:
# Add more neurons to a hidden layer.
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0]) 
hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 40)                3000

 dense_4 (Dense)             (None, 25)                1025

 dense_5 (Dense)             (None, 1)                 26

=================================================================
Total params: 4,051
Trainable params: 4,051
Non-trainable params: 0
_________________________________________________________________

In [48]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Add or reduce the number of epochs to the training regimen.
# Compile the model
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6153 - accuracy: 0.6923
Epoch 2/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5982 - accuracy: 0.7009
Epoch 3/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5964 - accuracy: 0.7031
Epoch 4/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5956 - accuracy: 0.7046
Epoch 5/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5949 - accuracy: 0.7052
Epoch 6/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5947 - accuracy: 0.7056
Epoch 7/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5948 - accuracy: 0.7058
Epoch 8/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7053
Epoch 9/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5937 - accuracy: 0.7058
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7057
Epoch 11/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5934 - accuracy: 0.7059
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5935 - accuracy: 0.7067
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.7056
Epoch 14/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.7067
Epoch 15/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.7056
Epoch 16/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5931 - accuracy: 0.7068
Epoch 17/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5930 - accuracy: 0.7062
Epoch 18/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5930 - accuracy: 0.7070
Epoch 19/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7061
Epoch 20/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5926 - accuracy: 0.7069
Epoch 21/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5924 - accuracy: 0.7060
Epoch 22/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5925 - accuracy: 0.7064
Epoch 23/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7073
Epoch 24/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5925 - accuracy: 0.7073
Epoch 25/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5924 - accuracy: 0.7071
Epoch 26/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5919 - accuracy: 0.7073
Epoch 27/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5919 - accuracy: 0.7068
Epoch 28/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5922 - accuracy: 0.7069
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5922 - accuracy: 0.7063
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.7068
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7077
Epoch 32/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5920 - accuracy: 0.7073
Epoch 33/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5919 - accuracy: 0.7070
Epoch 34/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.7072
Epoch 35/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7076
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5919 - accuracy: 0.7072
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5917 - accuracy: 0.7072
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5914 - accuracy: 0.7076
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5916 - accuracy: 0.7070
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5915 - accuracy: 0.7078
Epoch 41/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.7074
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5911 - accuracy: 0.7074
Epoch 43/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5916 - accuracy: 0.7071
Epoch 44/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5912 - accuracy: 0.7080
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5911 - accuracy: 0.7072
Epoch 46/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5916 - accuracy: 0.7079
Epoch 47/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7073
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5912 - accuracy: 0.7080
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5909 - accuracy: 0.7075
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5913 - accuracy: 0.7075
Epoch 51/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7079
Epoch 52/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7074
Epoch 53/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7073
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7068
Epoch 55/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5910 - accuracy: 0.7075
Epoch 56/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5910 - accuracy: 0.7075
Epoch 57/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.7082
Epoch 58/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5907 - accuracy: 0.7081
Epoch 59/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7073
Epoch 60/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5907 - accuracy: 0.7074
Epoch 61/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7078
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5907 - accuracy: 0.7065
Epoch 63/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.7076
Epoch 64/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.7076
Epoch 65/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.7081
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5909 - accuracy: 0.7080
Epoch 67/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7082
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5906 - accuracy: 0.7079
Epoch 69/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5905 - accuracy: 0.7080
Epoch 70/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7074
Epoch 71/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5909 - accuracy: 0.7074
Epoch 72/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5907 - accuracy: 0.7081
Epoch 73/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7087
Epoch 74/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.7081
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5907 - accuracy: 0.7075
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5906 - accuracy: 0.7082
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5906 - accuracy: 0.7080
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5902 - accuracy: 0.7082
Epoch 79/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5905 - accuracy: 0.7083
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5906 - accuracy: 0.7082
Epoch 81/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5905 - accuracy: 0.7079
Epoch 82/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5904 - accuracy: 0.7078
Epoch 83/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5903 - accuracy: 0.7079
Epoch 84/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5904 - accuracy: 0.7084
Epoch 85/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5904 - accuracy: 0.7078
Epoch 86/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5902 - accuracy: 0.7078
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5905 - accuracy: 0.7079
Epoch 88/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5904 - accuracy: 0.7085
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5904 - accuracy: 0.7081
Epoch 90/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7084
Epoch 91/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5903 - accuracy: 0.7084
Epoch 92/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5902 - accuracy: 0.7084
Epoch 93/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5900 - accuracy: 0.7081
Epoch 94/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5903 - accuracy: 0.7082
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5901 - accuracy: 0.7083
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5902 - accuracy: 0.7084
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5901 - accuracy: 0.7082
Epoch 98/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7079
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5901 - accuracy: 0.7086
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5902 - accuracy: 0.7081
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5900 - accuracy: 0.7082
Epoch 102/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7084
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5898 - accuracy: 0.7082
Epoch 104/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.7084
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7083
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7084
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5900 - accuracy: 0.7086
Epoch 108/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5900 - accuracy: 0.7085
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5900 - accuracy: 0.7084
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7087
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5900 - accuracy: 0.7086
Epoch 112/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.7088
Epoch 113/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5898 - accuracy: 0.7081
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7085
Epoch 115/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5900 - accuracy: 0.7086
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7079
Epoch 117/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.7086
Epoch 118/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5897 - accuracy: 0.7085
Epoch 119/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7089
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5898 - accuracy: 0.7086
Epoch 121/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5897 - accuracy: 0.7084
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7082
Epoch 123/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5900 - accuracy: 0.7082
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7088
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5896 - accuracy: 0.7084
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7088
Epoch 127/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5895 - accuracy: 0.7077
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7082
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7086
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5895 - accuracy: 0.7087
Epoch 131/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5894 - accuracy: 0.7089
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7086
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7082
Epoch 134/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7084
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5895 - accuracy: 0.7087
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7088
Epoch 137/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5894 - accuracy: 0.7086
Epoch 138/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7091
Epoch 139/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5893 - accuracy: 0.7086
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5896 - accuracy: 0.7082
Epoch 141/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7087
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5891 - accuracy: 0.7085
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7080
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5893 - accuracy: 0.7090
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7088
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5893 - accuracy: 0.7085
Epoch 147/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5893 - accuracy: 0.7082
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5893 - accuracy: 0.7087
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5893 - accuracy: 0.7086
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5893 - accuracy: 0.7087

# Report on the Neural Network  Model

## Overview of the analysis: Explain the purpose of this analysis.

The purpose of this analysis is if nonprofit foundation Alphabet Soup can help it select the applicants for funding with the best chance of success in the ventures. I used the features in the provided dataset to create a binary classifier that could be able predict whether applicants will be successful if funded by Alphabet Soup.

## Results: Using bulleted lists and images to support your answers, address the following questions.

* Data Preprocessing

'IS_SUCCESSFUL', 'APPLICATION_TYPE', 'CLASSIFICATION' variables are the target(s) for the model as it is shown number of success for 'IS_SUCCESSFUL', and in order to narrow down the target value.
'APPLICATION_TYPE','CLASSIFICATION', 'STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'AFFILIATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS' variables are the features for the model.
'EIN', 'NAME' variables were removed from the input data because they are neither targets nor features.



* Compiling, Training, and Evaluating the Model

I selected 40 and 25 hidden layers, and 150 epoch for my neural network model test because I'd like to test if/How many neurons, layers, and activation functions could/would affect the outcome.
I was not able to achieve the target model performance(75%)
I tried to increase numbers of hidden layeres, and epoch to increase model performance.

## Summary:

After increasing the number of hidden layers, and epoch, the accuracy is decreased to 70.83% from 71.67%. My recommendation for future tests would be Cluster Analysis with K-means which I have shown a high accuracy through PCA(n_components=0.99) in the previous test.